<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datarockets.mnchkn">
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MunchkinCounterTheme"
        android:name=".MunchkinApplication">


        <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:targetPackage="com.datarockets.mnchkn"/>

        <activity android:name=".activities.dashboard.DashboardActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.welcome.WelcomeActivity"/>
        <activity
            android:label="@string/title.analytics"
            android:name=".activities.result.GameResultActivity"
            android:parentActivityName=".activities.dashboard.DashboardActivity"/>
        <activity
            android:label="@string/title.settings"
            android:name=".activities.settings.SettingsActivity"
            android:parentActivityName=".activities.dashboard.DashboardActivity"/>

    </application>

</manifest>
